html,
body,
#root {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #182235;
    background: #eef3ff;
}

* {
    box-sizing: border-box;
}